<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.chad.jeejah.library"
	  android:installLocation="preferExternal"
      android:versionCode="2"
      android:versionName="2">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
    <application android:label="@string/app_name" 
				 android:theme="@style/Drinks" >
        <supports-screens android:largeScreens="true" />
        <activity android:name="BookDisplay"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden"
				  android:theme="@style/Drinks"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
					android:name="android.app.searchable"
					android:resource="@xml/searchable" />
        </activity>
        <activity android:name="RecipeActivity"
				  android:theme="@style/Drinks"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/see_recipe" />
        <activity android:name="Pantry"
				  android:theme="@style/Drinks"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/set_stock" />
        <activity android:name="ShoppingListActivity"
				  android:theme="@style/Drinks"
                  android:label="@string/shopping_suggestions" />
        <activity android:name="Feedback"
				  android:theme="@style/Drinks"
                  android:label="@string/feedback" />
        <activity android:name="Instructions"
				  android:theme="@style/Drinks"
                  android:label="@string/help" />
        <activity android:name="Credits"
				  android:theme="@style/Drinks"
                  android:label="@string/credits" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest> 
